.server-slot{

    .first-row {
        display: flex;
        align-items: start;
        font-weight: 400;
        display: flex;
        flex-direction: row;    
        align-items: bottom;
        justify-content: space-between;
    }

    .list-text {
        padding-top: 1px;
        display: flex;
        align-items: center;
        height: 1.6rem;
        width: 100%;
    }

    .name-input{
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: inherit;
        font-family: inherit;

        min-width: 1ch;
        max-width: 100%;
    }

    .edit-button{
        margin-left: 1rem;
        padding: 0px 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .edit-button:hover{
        cursor:pointer;
    }
    
    .server-name:has(.edit-button:hover) {
        border-bottom: solid 1px;
    }

    .button-span{
        display:flex;
        gap: 2px;
    }

    .list-button {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 1px;
        gap: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .second-row {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding-top: 5px;
        font-weight: 100;
        font-size: 0.9rem;
        color: rgb(150, 150, 150);
        border-bottom: solid;
        border-width: 1px;
        user-select: text;
    }

    .second-row .list-button {
        padding: 0px 8px;
        margin-bottom: 1px;
        font-size: 0.9rem;
    }

    .third-row {
        display: flex;
        justify-content: space-between;
    }

    .third-row button {
        padding: 0px 8px;
        font-size: 0.9rem;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}