.option-row-wrapper{

    position: relative;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.35);

    .contents {
        position: relative;
        z-index: 300;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        z-index: 301;

        pointer-events: all;
        cursor: not-allowed;
    }

    .title-row{
        display: flex;
        justify-content: space-between;
    }

    h3 {
        margin: 0;
    }

    .enable-label {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 5px 15px;
        right: 10px;
        background-color: rgb(50, 50, 50);
        border-radius: 10px;
        z-index: 302;
        cursor: pointer;
    }

    .enable-label.enabled{
        background-color: rgb(24, 24, 24);
    }

    .enable-label input{
        margin-top: 6px;
    }

}


