.modal-wrapper{

    #modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 200;
    }

    #modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1e1e1e;
        border-radius: 10px;
        padding: 20px;
        padding-top: 20px;
        z-index: 201;
        display: flex;
        flex-direction: column;
    }


    .tab-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #modal-tabs {
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    #title-seperator {
        height: 3px;
        width: 75%;
        background-color: rgba(70,70,70);
        z-index: 202;
    }

    .tab{
        background-color: rgb(40, 40,40);
        padding: 5px 10px;
        margin: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .tab:hover{
        cursor: pointer;
    }

    .tab.active{
        background-color: rgba(70,70,70);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #children {
        padding-top: 1rem;
        max-height: 300px;
        overflow-y: auto;
    }

    #modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
    }
}