.greeting-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-page{
        height: 100dvh;
    }

    .greeting-title{
        text-align: center;
        margin: 0;
        margin-top: 1rem;
        font-size: 2rem;
        height: 10%;
    }

    .starter-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0rem;
        gap: 1rem;
    }

    .console-section {
        height: 100dvh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scroller-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.4rem;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
    }

    .spinner {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

