.link-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);

    pre{
        text-decoration: none;
        white-space: nowrap;
        margin: 0;
        color: rgb(220,220,220);
        margin-right: 10px;
    }

    button {
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 10px 12px;
        background-color: rgba(0, 0, 0, 0.2);
    }

}